
* {
    margin: 0;
    padding: 0;
    
}

.block {
    width: 200px;
    height: 200px;
    display: flex;
    align-items:center;
    justify-content: center;
   }
  
  .block1 {
    
    background-color: gold;
  }
  
  .block2 {
    background-color: greenyellow;
    margin-left: 200px;
  }
  
  .block3 {
    background-color: pink;
    margin-left: 400px;
    min-height: calc(100vh - 400px);
    min-width: calc(100vw - 400px);

  }
