*{
  margin: 0px;
  padding: 0px;
}  

main{
  display: flex;
  flex-wrap: no-wrap;
}

.block {
  display: flex;
  width: 330px;  
  height: 500px;
  margin: 20px;   
  background-size:cover;
  background-repeat: no-repeat;
  background-color: brown;
  position: relative;
}

.block_1 {
  background-image: url(../images/f1.webp);  
}

.block_2 {
  background-image: url(../images/f2.webp);
}

.block_3 {
  background-image: url(../images/f3.webp);
}

.zhanr {
 position: absolute;
  top: 2px;
  right: 2px;
  background-color: yellow;
 }

.grad{
 
  height: 100%;
  width: 100%;
  background:linear-gradient(transparent, black);
  padding: 0 30px;
}

.year {
  position: absolute;
  top: 67%;
  left: 2px;
  max-height: 10%;
  font-size: 30px;
  color:white;
}

.name {
  position: absolute;
  top: 75%;
  left: 2px;
  max-height: 10%;
  font-size: 30px;
  color: yellow;
}

.text {
  position: absolute;
  top: 85%;
  left: 2px;
  max-height: 30%;
  font-size: 12px;
  color:white;
  display: -webkit-box;
 -webkit-line-clamp: 4; /* количество строк */
 -webkit-box-orient: vertical;
  overflow: hidden;
 
}

.text:hover {
  position: absolute;
  top: 85%;
  left: 2px;
  font-size: 12px;
  color:white;
  display: block;
 -webkit-line-clamp: 500; /* количество строк */
 -webkit-box-orient: vertical;
 background-color: black;
 overflow: scroll;
  
}