*{
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, nav, footer {
   height: 50px; /* Задайте нужную высоту */
}

.flex-container {
   flex-grow: 1;
   display: flex;
}

section, aside, article {
   flex-grow: 1;
}

  